@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 20px 0; */
    /* margin-left: 100px;
    margin-right: 100px; */
}

/* Nav or Header styles */

.logo-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid salmon; */
    padding: 30px 80px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo-title {
    color: #0B0223;
    font-size: 2.8125rem;
    font-weight: 700;
}

.gamer-style {
    color: #FF42A5;
}

.logo-icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-icon img {
    width: 80px;
}

.menus-items>ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

.menus-items li {
    list-style: none;
}

.menus-items a {
    text-decoration: none;
    color: #3C354F;
    font-size: 1.125rem;
    font-weight: 500;
}

.follow-us {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 16px;
}

.follow-us img:hover {
    cursor: pointer;
}

/* Banner section styles */

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;

}

.banner-content {
    text-align: center;
    /* margin-left: 180px; */
    /* border: 1px solid salmon; */
    margin-top: 80px;



}

.play-like {
    text-align: center;
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
}

.goat {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 5.9375rem;
    font-weight: 800;
}


.banner-content li {
    list-style: none;
    text-align: left;
    padding: 10px 0;

}

.btn-sign-in {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 21px 40px;
    border: none;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    margin-right: 10px;
}

.btn-go {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 48px;
    padding: 21px 40px;
    background: #4EC5F7;
}

.button {
    margin-top: 20px;
    margin-right: 35px;
}

.banner-img {
    width: 500px;
}

.banner-img img {
    width: 100%;
}

/* Online games styles */

.online-games-content {
    text-align: center;
    margin-top: 100px;

}

.online-games-content h2 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.funny-videos-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.games-card-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.card {
    width: 220px;

}


.games-card-container img {
    width: 250px;


}

.games-card-container img:hover {}

.games-card-container p {
    width: 100%;
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 500;
}

/* play-instant styles */

.play-instant-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;

}


.play-instant-content h1 {
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
    width: 70%;
    padding: 20px 0;

}

.play-instant {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-instant-content p {
    color: #534C64;
    text-align: right;
    font-size: 1.125rem;
    width: 70%;
}

/* .play-instant-img-container{
    margin-left: 100px;
} */

.play-instant-img {
    height: 500px;
    margin-left: 100px;
    /* border: 1px solid saddlebrown; */
}

.play-instant-img-container div img {
    border-radius: 8px;
    position: relative;
    bottom: 150px;
    right: 40px;
}

/* Game-type styles */

.game-type-container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: center;
    gap: 35px;
    padding-bottom: 30px;
    /* margin-bottom: 30px; */
}

.game-type-container div {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 6px;
    border: 1px solid transparent;
    /* width: 20px; */
}

.row {
    display: flex;
    justify-content: center;
}

.icon img {
    width: 40px;
}

.game-type-container2 {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 35px;
}

.game-type-container2 div {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid transparent;
    padding: 6px;
    margin-bottom: 100px;
}

.game-type-container div:hover {
    border: 2px solid #FF42A4;
    border-radius: 50px;
    background: #FFF;
    padding: 5px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.game-type-container2 div:hover {
    border: 2px solid #FF42A4;
    border-radius: 50px;
    background: #FFF;
    padding: 5px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Footer section styles */

footer {
    background: #0B0223;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 120px;
    padding-bottom: 120px;

}

.footer-icon {
    margin-bottom: 70px;
}

.footer-logo {
    color: #FFF;
}

.about-us a {
    text-decoration: none;
    margin: 20px;
    color: #FFF;
}

.social-media {
    margin-top: 40px;
    margin-bottom: 50px;
}

.social-media a {
    margin: 30px;

}

.policy-container a {
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    margin: 30px;
}

footer h5{
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
}

@media screen and (max-width:576px) {
    *{
        margin: auto;
        
    }
    
    .logo-container{
        flex-direction: column;
    }
    .menus-items>ul {
        flex-direction: column;
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-img img {
        width: 85%;
    }
    .games-card-container{
        flex-direction: column;
    }
    .play-instant-container{
        flex-direction: column;
    }
    .play-instant-content h1{
        text-align: center;
    }


    .play-instant-img{
        height: 380px;
        margin-left: 50px;
    }

    .game-type-container{
        grid-template-columns: repeat(3, auto);
    }
    .game-type-container2{
        grid-template-columns: repeat(4, auto);
    }
    
    .icon img{
        width: 20px;
    }
}

@media screen and (min-width:576px) and (max-width:768px) {
    .logo-container{
        flex-direction: column;
    }
    
    .banner-container{
        flex-direction: column;
    }
    
    .play-instant-container{
        flex-direction: column;
    }
    .games-card-container{
        flex-direction: column;
    }
}