@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

main {
    max-width: 1200px;
}

/* Nav or Header styles */

.logo-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid salmon; */
    padding: 30px 80px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo-title {
    color: #0B0223;
    font-size: 2.8125rem;
    font-weight: 700;
}

.gamer-style {
    color: #FF42A5;
}

.logo-icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-icon img {
    width: 80px;
}

.menus-items>ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

.menus-items li {
    list-style: none;
}

.menus-items a {
    text-decoration: none;
    color: #3C354F;
    font-size: 1.125rem;
    font-weight: 500;
}

.follow-us {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 16px;
}

.follow-us img:hover {
    cursor: pointer;
}

/* Banner section styles */

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("/group-14.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-content {
    text-align: center;
    margin-left: 180px;
    /* border: 1px solid salmon; */
    margin-top: 80px;

    
    
}

.play-like {
    text-align: center;
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
}

.goat {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 5.9375rem;
    font-weight: 800;
}


.banner-content li {
    list-style: none;
    text-align: left;
    padding: 10px 0;

}

.btn-sign-in {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 21px 40px;
    border: none;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    margin-right: 10px;
}

.btn-go {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 48px;
    padding: 21px 40px;
    background: #4EC5F7;
}
.button{
    margin-top: 20px;
    margin-right: 35px;
}

.banner-img {
    width: 500px;
}

.banner-img img {
    width: 100%;
}